---
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
---

<Layout title="Juan Fernando Cano FullStack Developer">
	<main>
		<Presentation body='I am a computer science student and FullStack developer passionate and always improving. I love learning new things every day and studying to expand my knowledge in development.'/>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem 4rem;
		max-width: calc(100% - 2rem);
		color: #fff;
		font-size: 23px;
		line-height: 1.7;
	}
</style>
