---
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	body{
		overflow: scroll;
		scroll-behavior: smooth;
		margin: 0;
		padding: 0;
		background: linear-gradient(-70deg, #6a8d92, #3c6e71);
	}
	body::-webkit-scrollbar {
		display: none;
	}
	html {
		font-family: 'Inter', sans-serif;
		padding: 0;
	}
</style>
